---
layout: default
---

<main class="content" role="main">

  <header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description-short }}</h2>
  </header>

<div class="cf frame">
    <h2>VI, Linux, Git, Magento Commands</h2>
	<div class="table-overflow">
    	<h2><a name="vi">VI Commands</a></h2>
	{% include vi.md %}
	<h2><a name="linux">Linux Commands</a></h2>
	{% include linux.md %}
	<h2><a name="git">GIT Commands</a></h2>
	{% include git.md %}
	<h2><a name="magento">Magento 2 Commands</a></h2>
	{% include magento.md %}
	<p><a href="#top">Back to top</a></p>
	</div>
</div>
</main>

{% include footer.html %}
